<!-- <div *ngIf="error" class="alert alert-danger alertDisplay" role="alert">
  <strong> An Error Occured.</strong> {{ error }}
</div> -->
<div *ngIf="submitted" class="alert alertDisplay">
  <div
    class="alert"
    [ngClass]="{
      'alert-success': response === true,
      'alert-danger': response === false
    }"
    role="alert"
  >
    <h4 class="alert-heading">
      <span class="success" *ngIf="response"
        >Email has been sent succesfully</span
      >
      <span class="error" *ngIf="!response">Email is not exist</span>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        (click)="successDisplay()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </h4>
  </div>
</div>

<img src="../../../../assets/img/forgotPassword.svg" alt="forgotpasswordsvg" />

<div class="container login-page">
  <div class="row forms">
    <h3 class="header">
      Forgot Password?&nbsp;<fa-icon [icon]="falock"></fa-icon>
    </h3>
    <h6 class="hint">Enter your email to reset password</h6>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div formGroupName="userData">
        <div class="form-group">
          <label for="email" class="mail">Email</label>

          <input
            type="text"
            id="email"
            formControlName="email"
            class="form-control"
            placeholder="Enter your email"
          />
          <span
            class="emailCheck"
            *ngIf="
              !signupForm.get('userData.email')?.valid &&
              signupForm.get('userData.email')?.touched
            "
            >Enter a Valid Email!</span
          >
        </div>
      </div>

      <br />
      <button class="btn1" type="submit">submit</button>
    </form>
    <p>Remember Password?<a href="#" class="link">Login</a></p>
  </div>
</div>
