* {
  font-family: roboto;
  color: #17252a;
  box-sizing: border-box;
}

.login-page {
  width: 50%;
  padding: 8% 0 0;
  margin: auto;
}
.forms {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 10px 5px 10px 10px #def2f1;
}
.forms .input-group {
  padding: 0;
}
/* .forms input {
    outline: 0;
    position: relative;
    background: #def2f1;
    width: 80%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    
    font-size: 14px;
  }
  .input-group-text {
    outline: none;
    position: relative;
    background: #def2f1;
    cursor: pointer;
  } */
.forms .input-group input,
.forms .input-group .input-group-text {
  outline: 0;
  box-shadow: none;
  border: 1px solid #def2f1;
  position: relative;
  background: #def2f1;
  padding: 5px;
  margin: 0 0 10px;
}
.forms .input-group .input-group-text {
  cursor: pointer;
}
fa-icon {
  font-size: 10px;
  padding-right: 4px;
}
.forms button {
  text-transform: uppercase;
  outline: 0;
  background: #3aafa9;
  width: 30%;
  border: 0;
  padding: 10px;
  color: #feffff;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 3px;
}
.forms button:hover,
.forms button:focus {
  background: #2b7a78;
}
.forms button:active {
  outline: #2b7a78;
  transform: scale(0.95);
  box-shadow: 1px 2px 5px 1px #3aafa9;
}

.mail {
  padding-right: 500px;
}
.link {
  color: #3aafa9;
}
.check {
  color: #fa0000;
  font-weight: 600;
  font-size: 12px;
  text-align: left;
}
.validDis {
  text-align: left;
}
.header {
  font-weight: 800;
  color: #2b7a78;
  padding-bottom: 5px;
}

.alertDisplay {
  margin-top: 30px;
  margin-left: 20%;
  margin-right: 20%;
}
.alert-heading {
  display: flex;
  justify-content: space-between;
}
.success {
  color: #2b7a78;
}
.error {
  color: #fa0000;
}

.close {
  border: 0;
  outline: 0;
  background: none;
}
.close span {
  font-size: x-large;
  color: red;
  font-weight: 700;
}
@media (max-width: 680px) {
  .header {
    font-weight: 800;
    font-size: 16px;
  }
  .mail {
    font-size: 12px;
  }
  .forms .input-group {
    padding: 0px;
  }
  .btn1 {
    font-size: 12px;
  }
}
