<div *ngIf="messageDisplay" class="alert alertDisplay">
  <div
    class="alert"
    [ngClass]="{
      'alert-success': response === true,
      'alert-danger': response === false
    }"
    role="alert"
  >
    <h4 class="alert-heading">
      <span class="success" *ngIf="response"
        >Password has been reset succesfully</span
      >
      <span class="error" *ngIf="!response">Invalid credentials</span>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        (click)="successDisplay()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </h4>
  </div>
</div>

<div class="container login-page">
  <div class="row forms">
    <h3 class="header">Change Password</h3>
    <form [formGroup]="userNewForm" (ngSubmit)="onSubmit()">
      <!-- <div class="form-group">
          <label for="oldPassword" class="mail">Old&nbsp;Password</label>
          <div class="input-group mb-3">
            <input
              type="password"
              [type]="iconClick ? 'password' : 'text'"
              id="oldPassword"
              autocomplete="on"
              name="oldPassword"
              formControlName="oldPassword"
              class="form-control"
              placeholder="Enter your old password"
            />
            <span class="input-group-text" id="basic-addon2">
              <a *ngIf="iconClick" class="show-hide" (click)="onClick()"
                ><fa-icon [icon]="faVisible" class="icon"></fa-icon></a
              ><a *ngIf="!iconClick" class="show-hide" (click)="onClick()"
                ><fa-icon [icon]="faHide" class="icon"></fa-icon
              ></a>
            </span>
          </div>
          <div
            class="validDis"
            *ngIf="
              userNewForm.get('oldPassword').touched && details.oldPassword.errors
            "
          >
            
            <div class="check" *ngIf="details.oldPassword.errors.minlength">
              Password should have atleast 8 characters
            </div>
          </div>
        </div> -->

      <div class="form-group">
        <label for="newPassword" class="mail">New&nbsp;Password</label>
        <div class="input-group mb-3">
          <input
            type="password"
            [type]="iconClick1 ? 'password' : 'text'"
            id="newPassword"
            autocomplete="on"
            name="newPassword"
            formControlName="newPassword"
            class="form-control"
            placeholder="Enter your new password"
          />
          <span class="input-group-text" id="basic-addon2"
            ><a *ngIf="iconClick1" class="show-hide" (click)="onClick1()"
              ><fa-icon [icon]="faVisible" class="icon"></fa-icon></a
            ><a *ngIf="!iconClick1" class="show-hide" (click)="onClick1()"
              ><fa-icon [icon]="faHide" class="icon"></fa-icon
            ></a>
          </span>
        </div>
        <div
          class="validDis"
          *ngIf="
            userNewForm.get('newPassword')?.touched &&
            details.newPassword.errors
          "
        >
          <!-- <div class="check" *ngIf="details.newPassword.errors.required">
              New password is required
            </div> -->
          <div class="check" *ngIf="details.newPassword.errors.minlength">
            New password should have atleast 8 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="reNewPassword" class="mail"
          >Confirm&nbsp;New&nbsp;Password</label
        >
        <div class="input-group mb-3">
          <input
            type="password"
            [type]="iconClick2 ? 'password' : 'text'"
            id="confirmPassword"
            autocomplete="on"
            formControlName="confirmPassword"
            class="form-control"
            placeholder="Confirm your new password"
          />
          <span class="input-group-text" id="basic-addon2"
            ><a *ngIf="iconClick2" class="show-hide" (click)="onClick2()"
              ><fa-icon [icon]="faVisible" class="icon"></fa-icon
            ></a>
            <a *ngIf="!iconClick2" class="show-hide" (click)="onClick2()"
              ><fa-icon [icon]="faHide" class="icon"></fa-icon
            ></a>
          </span>
        </div>

        <div
          class="validDis"
          *ngIf="
            userNewForm.get('confirmPassword')?.touched &&
            details.confirmPassword.errors
          "
        >
          <!-- <div class="check" *ngIf="details.confirmPassword.errors.required">
              Confirm password is required
            </div> -->
          <div class="check" *ngIf="details.confirmPassword.errors.mustMatch">
            Newpassword and confrim password should match
          </div>
        </div>
      </div>
      <div
        class="validDis"
        *ngIf="
          submitted &&
          (details.newPassword.errors?.required ||
            details.confirmPassword.errors?.required)
        "
      >
        <div class="check">Fields should not be empty</div>
      </div>
      <br />
      <button class="btn1" type="submit">Reset</button>
    </form>
  </div>
</div>
