<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   
    </head>

<body>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <span> 
                <div class="profile-pic">
                  
                 
                  <img src="assets/ma.jpg" id="output" class="rounded-circle" height="150" width="180" />
                  <input id="file" type="file" onchange="loadFile(event)"/>
                  <label class="-label" for="file">
                    <span class="glyphicon glyphicon-camera"></span>&nbsp;
                    <br/>
                    <br/>
                    <div><button class="bt">Change Image</button></div>
                  </label></div></span></div>
        </div>





        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">User Profile Settings</h4>
                </div>
                <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                 <div formGroupName="profileData">
                <div class="row mt-2">
                   
                    <div class="col-md-6">
                       
                        <label for="first-name">First Name: </label>
                        <input id="first-name" type="text" formControlName="firstName" placeholder="Enter FirstName">
                    </div>

            
                  
                    <div class="col-md-6">
                        <label for="last-name">Last Name: </label>
                        <input id="last-name" type="text" formControlName="lastName" placeholder="Enter LastName">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12">
                        <label for="phoneno">Phone No </label>
                        <input id="phoneno" type="text" formControlName="phoneno" class="form-control" placeholder="Enter Phoneno">
                     
                    </div>
                    <div class="col-md-12">
                        <label for="address">Address </label>
                        <input id="address" type="text" formControlName="address" class="form-control" placeholder="Enter Address">
                     
                    </div>
                    <div class="col-md-12">
                        <label for="emailid">Email Id </label>
                        <input id="emailid" type="text" formControlName="emailid" class="form-control" placeholder="Enter Email id">
                     
                    </div>
                    <div class="col-md-12">
                        <label for="education">Education </label>
                        <input id="education" type="text" formControlName="education" class="form-control"placeholder="Enter Education">
                     
                    </div>
                </div>
                    <div class="col-md-12" class="mt-5 text-center">
                        <button class="btn btn-primary  " type="submit" [disabled]="!profileForm.valid">Submit</button>
            
                    &nbsp;&nbsp;
                        <button class="btn btn-primary green " type="button" (click)="updateProfile()">Update Profile</button>
                    </div>
                

                  
                </div>
                </form>
            </div>
        </div>

   















		
        <div class="col-md-4">
            <div class="p-3 py-5">
          


                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="Experience" value=""></div> <br>
                <span><button class="btn btn-info green ">Edit Experience</button></span>
           
            <div class="p-3 py-5">
             
                  <div class="form-row mx-4">
                    <div class="form-group row-md-4">


                        <div class="col-md-12">
                            <label for="oldpass">Old Password </label>
                            <input id="oldpass" type="text" formControlName="oldpass" class="form-control">
                         
                        </div>
                        <div class="col-md-12">
                            <label for="newpass">New Password</label>
                            <input id="newpass" type="text" formControlName="newpass" class="form-control">
                         
                        </div>
                        <div class="col-md-12">
                            <label for="repass">Reenter Password </label>
                            <input id="repass" type="text" formControlName="repass" class="form-control">
                         
                        </div>



<br/>

                    <div class="col-md-12"><label class="labels"><button class="btn btn-primary mb1 bg-teal">Change Password</button></label></div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>







</div>
</body>
</html>